.App {
  
  min-height: 100vh;
  background-image: linear-gradient(-225deg, #B6CEE8 0%, #F578DC 100%);
}

.searchForm {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  width: 50%;
  border : none;
  padding : 10px;
}

.searchButton {
  background: lightblue;
  border : none;
  padding : 10px 20px;
  color : black;
}


.item {
  display: flex;
  flex-grow: 100%;
  justify-content: space-around;
  flex-wrap: wrap;

}

.label {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
}






